# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Databases (закомментируйте если хотите версионировать)
# *.db

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Archives
*.zip
*.rar
*.tar.gz

# Temporary files
*.tmp
*.bak
*.old
